<h1>Player 1's Turn</h>
<p></p>
<form action="/result" method="post"
  <label>Please pick rock paper or scissors</label>
  <p>
    <input type="radio" name="name" value="Rock"> Rock<br>
    <input type="radio" name="name" value="Paper"> Paper<br>
    <input type="radio" name="name" value="Scissors"> Scissors
  </p>
</form>
